<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NavICPerformanceDetails</title>
</head>
<body>
<div th:fragment="footer">

    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>Navigation Systems Area,  ISTRAC,ISRO </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>4595</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Designed & Developed By</h4>
                                <span><li>Koushik Nag </li>
                  <li> koushik_nag@istrac.gov.in</li>
                                    <li>Lohith A Vashishta</li>
                  <li> NSA-ISTRAC</li>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/images/isro_logo.gif" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Indian Space Research Organization</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Contact us</a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <span class="copyright"></span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/bootstrapbundle.js"></script>
    <script src="../js/bootstrapmin.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/secAScript.js"></script>
    <script src="../js/secBScript.js"></script>
    <script src="../js/secCScript.js"></script>
    <script src="../js/secDScript.js"></script>
    <script src="../js/secEScript.js"></script>
    <script src="../js/secFScript.js"></script>
    <script src="../js/secGScript.js"></script>
    <script src="../js/secHScript.js"></script>

    <script src="../js/scripts.js"></script>

</div>

</body>
</html>