<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NavICPerformanceDetails</title>

</head>
<body>
<div th:fragment="header">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/Bootstrap.css">
    <link rel="stylesheet" href="../css/footer.css">

<!--    <script src="../js/secBScript.js"></script>-->
<!--    <script src="../js/secCScript.js"></script>-->
<!--    <script src="../js/secDScript.js"></script>-->
<!--    <script src="../js/secEScript.js"></script>-->
<!--    <script src="../js/secGScript.js"></script>-->



    <ul class="list-style-none d-flex flex-wrap"
        style="margin:auto; justify-content: center; height: 130px;">
        <li class="p-3" style="height: 130px; padding: 0px; margin: 0px; width:24%">
            <div >
                <img src="../images/nationalemblem.png" height="100"></img>
            </div>
        </li>
        <li class="p-3" style="text-align: left; width:50%; height:120px;">
            <div>
                <div style="background-color:white;">
                    <h1 style="text-align: center; margin:0px">Isro Navigation Data Center</h1>
                </div>
                <div  style="background-color:white;">
                    <h2  style="text-align: center;">Indian Space Research
                        Organisation
                    </h2>
                </div>
            </div>
        </li>
        <li class="p-3" style=" text-align: end; width:24%; height: 130px; padding: 0px; margin: 0px; width:24%">
            <div >
                <img src="../images/isro_logo.gif" height="100"></img>
            </div>

        </li>
    </ul>

</div>



</body>
</html>