<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NavICPerformanceDetails</title>
</head>
<body>
<div th:fragment="menu">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



        <div class="list-group mt-3 mb-3">

            <div class="sidebar list-group" id="list-tab" role="tablist">
                <a id="secAMenu" class="list-group-item list-group-item-action menu-button active" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section A</b></div><div class="description"> <i>This Section allows the user to provide information regarding Terrestrial link, satellite link and INC1-INC2.</i></div></a></div>
                <a id="secBMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section B</b></div><div class="description"> <i>This Section allows the user to provide information  regarding standard files, storage and archival.</i> </div></a>
                <a id="secBNavMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section B Nav</b></div><div class="description"> <i>This section allows the user to provide information regarding UERE and user position</i></div></a>
                <a id="secCMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section C</b></div><div class="description"> <i>This section allows the user to provide information regarding parallel chain, IRNWT, TWSTFT and GNSS offsets</i></div></a>
                <a id="secDMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section D</b></div><div class="description"> <i>This section allows the user to provide information regarding schemacs health</i></div></a>
                <a id="secEMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section E</b></div><div class="description"> <i>This section allows the user to provide information regarding IRMS </i></div></a>
                <a id="secFMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section F</b></div><div class="description"> <i>This section allows the user to provide information regarding IRCDR</i></div></a>
                <a id="secGMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"><div class="text-center"><b>Section G</b></div><div class="description"> <i>This section allows the user to provide information regarding Syslog status and Standard Files</i></div></a>
                <a id="secHMenu" class="list-group-item list-group-item-action menu-button" data-bs-toggle="list" role="tab"> <div class="text-center"><b>Section H</b></div><div class="description"> <i>This section allows the user to provide information regarding Station Look angles</i></div></a>
            </div>

<!--    <div class="list-group" id="list-tab" role="tablist">-->
<!--        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Home</a>-->
<!--        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>-->
<!--        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>-->
<!--        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>-->
<!--    </div>-->



</div>

</body>
</html>